*,
*::before,
*::after{box-sizing:border-box;}a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}

:root {
    --bgcolor: hsl(104,54,35,100%);

}

body {
    margin: 0 0;
    background-color: #f5f5f5;
}

main{
    padding: 5%;
    font-family: "Outfit";

}

main section.griglia {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: "Outfit";
    gap: 23px;
    
    align-items: center;
}

.grid-eventi {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px 200px;
}


main div.mappa img{
    
    justify-content: center;
    width: 100%;
}


header div.hero img{
width: 100%;
}