*,
*::before,
*::after{box-sizing:border-box;}a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}


:root {
    --bgcolor: hsl(104, 54%, 35%);
    --bgcolorhover: hsl(104, 54%, 35%, 50%);
    --textcolor: hsl(0, 0%, 100%, 100%);
    --textcolor2: hsl(205, 52%, 27%, 100%);
}

body {
    justify-content: center;
    margin: 0;
    align-items: center;
    max-width: 1900px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 96%);
}

main {
    margin: 40px auto;
    max-width: 1200px;
    font-size: 16px;
}

.nav-desktop {
    display: flex;
    padding: 10px 40px;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    background-color: var(--bgcolor);   
}

.marchio {
    font-size: 24px;
    color: var(--textcolor);
    font-family: 'Outfit', medium;
}

.nav-desktop ul {
    display: flex;
    gap: 24px;
    white-space: nowrap;
    font-size: 16px;
    color: var(--textcolor);
    font-family: 'Outfit', medium;
}

.nav-mobile{
    background-color: var(--bgcolor);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px 40px;
    align-items: center;
}

.menu {
    display: none;
    width: 30%;
    height: 50vh;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 100;
    background-color: var(--bgcolor);
    padding: 20px;
}

.menu ul{
    text-align: right;
}

.checkbox{
    display: block;
    z-index: 3;
}
.checkbox:checked ~ .menu {
    display:block ;        
}

.hamburger-lines {
    flex-direction: column;
    gap: 4px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.hamburger-lines .line{
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
    
}

.checkbox{
    position:absolute; 
    top: 0;
    right: 10px;
    width: 30px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

.dropdown-content, .dropdown-content2 {
    position: absolute;
    display: none;
    height: 7rem;
    width: 7rem;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    padding: 0.25rem;
    margin-top: 0;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;

}

.dropdown {
    text-align: center;
}


.dropdown-content a, .dropdown-content2 a {
    display: block;
    color: black;
    font-family: 'Inter', regular;
}

.dropdown-content a:hover, .dropdown-content2 a:hover {
    font-weight: bold;
    background-color: var(--bgcolorhover);
    display: block;
}

.dropdown:hover + .dropdown-content, .dropdown + .dropdown-content:hover, .dropdown.check + .dropdown-content {
    display: flex !important;
}

.dropdown:hover + .dropdown-content2, .dropdown + .dropdown-content2:hover, .dropdown.check + .dropdown-content2 {
    display: flex !important;
}

.heroimage {
    position: relative;
}

.heroimage img {
    max-height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.heroimage .immagine:before {
    content: "";
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text {
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
}

.heroimage h2 {
    position: absolute;
    color: white;
    text-align: center;
    z-index: 1;
    margin: 0;
    bottom: 20px;
    font-size: 48px;
    font-family: 'Outfit', bold;
}

.heroimage-due h2 {
    color: white;
    text-align: center;
    z-index: 1;
    font-size: 48px;
    font-family: 'Outfit', bold;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.heroimage-due::before {
    content: "";
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.heroimage-due {
    min-height: 450px;
    width: 100%;
    position: relative;
    object-fit: cover;
    background-position: center;
}

.contenitore {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 32px;
    
}

.badge1, .badge2, .badge3, .badge4, .badge5, .badge6, .badge7 {
    width: 100%;
    height: 100%;
}

.badge1::after, .badge2::after, .badge3::after, .badge4::after, .badge5::after, .badge6::after,.badge7::after {
    position: absolute;
    content: attr(data-label);
    bottom: 66px;
    padding: 0.25rem;
    width: 8rem;
    z-index: 3;
    text-align: center;
    color: var(--textcolor);
}

.badge5::after, .badge6::after,.badge7::after{
    position: absolute;
    content: attr(data-label);
    bottom: 118px;
    padding: 0.25rem;
    width: 8rem;
    z-index: 3;
    text-align: center;
    color: var(--textcolor);
}

.badge1::after{
    background-color: hsl(205, 78%, 56%);
}

.badge2::after {
    background-color: hsl(0, 68%, 55%);
}

.badge3::after {
    background-color: hsl(266, 86%, 70%);
}

.badge4::after {
    background-color: hsl(86, 73%, 40%);
}

.badge5::after {
    background-color: hsl(17, 93%, 49%);
}

.badge6::after {
    background-color: hsl(86, 73%, 40%);
}

.badge7::after {
    background-color: hsl(46, 88%, 48%);
}

.badge7 {
    max-width: 800px;
}

.contenitore img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.contenitore h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 16px;
    font-family: 'Outfit';
}

.contenitore p {
    text-align: center;
    padding: 16px;
    font-family: 'Outfit';
}

.contenitore h1:hover{
    color: hsl(205, 56%, 38%);
}

.contenitore div {
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

.sottotitoli h3 {
    font-family: 'Outfit', semibold;
    font-size: 24px;
    color: var(--textcolor2);
    margin: 24px;
}


.sottotitoli p {
    font-family: 'Inter', regular ;
    color: var(--textcolor);
    max-width: 140px;
    background-color: hsl(75, 84%, 42%);
    border-radius: 8px;
    padding: 4px;
    display:block;
    margin: 24px auto;
}

.margin{
    margin: 60px 0;
}


.mappa img {
    display:block;
    margin: 24px auto;
}

.mappa.sottotitoli {
    display: flex;
    justify-content: center;
}


.piantina{
    display: flex;
    margin: 24px auto;
    justify-content: center;
}

.piantina img{
    width: 700px;
    height: auto;
    margin-bottom: 40px;
}
    

.indexpalme{
    margin-bottom: 68px;
}

.eventi .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 32px;
}


.eventi .grid div {
    position: relative;
    z-index: 1;
}

.eventi h3 {
    font-family: 'Outfit', semibold;
    font-size: 24px;
}


.eventi .card::after {
    position: absolute;
    content: attr(data-label);
    top: 0.80rem;
    left: -0.83rem;
    padding: 0.25rem;
    width: 10rem;
    z-index: 3;
    text-align: center;
    margin: 0;
    color: #161616;
    background-color: hsl(50, 93%, 62%);
}

.eventi .card::before {
    position: absolute;
    top: 1.95rem;
    left: -0.60rem;
    content: "";
    background: hsl(120, 2%, 10%);
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}

.testo-card h1 {
    font-size: 16px;
    font-weight: bold;
}

.testo-card h1:hover {
    color: hsl(205, 56%, 38%);
}

.testo {
    max-width: 900px;
    margin: 24px auto 64px;
    justify-content: center;
    line-height: 1.5;
}

.testo p, .testo2 p {
    max-width: 900px;
    color: #161616;
    margin: 24px auto ;
    line-height: 1.5; 
    font-family: 'Inter', sans-serif;
}

.testo h3, .testo2 h3{
    font-family: 'Outfit', semibold;
    font-size: 24px;
    color: var(--textcolor2);

}

.testo2 {
    max-width: 900px;
    margin: 100px auto;
    justify-content: center;
    
}
.grid-palme{
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    max-width: 1300px;
}

.card-gradient2{
    min-height: 400px;
    position: relative;
    background-size: cover;
    background-position: center; 
    border-radius: 10px;
    margin: 24px;
    box-shadow: inset 5px -300px 300px -300px rgba(0, 0, 0, 1);  
}

.card-gradient2 h2 a {
    color: var(--textcolor);
    font-size: 24px;
    align-items: center;
    overflow: hidden;
    position: absolute;
    bottom: 20px;
    padding: 24px ;
    gap: 10px;
    
}

footer .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    padding: 48px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bgcolor);
    font-family: 'Inter',  sans-serif; 
  
}

footer .grid p, footer .grid h2, footer .grid a {
    color: var(--textcolor);
}

footer h2 {
    font-weight: bold;
    font-size: 16px;
}

footer .info a {
    text-decoration: underline;
}

footer a:hover {
    font-weight: bold;
    color: var(--textcolor2);
    transition: 0.2em;
}

.approfondimenti{
    background-color: #214B69;
    padding: 72px 40px;
    max-width: none !important;
    margin-bottom: 32px;

}


.bg-green {
    background-color: #51A372;
    height: 400px;
    margin: 100px 0 40px 0;
}



.subtitle{
    font-size: 18pt; 
    font-family: 'Outfit', sans-serif;
    color: #214B69;
    font-weight: 600;
    margin: 20px;
}

.subtitle-gallery{
    font-size: 18pt; 
    font-family: 'Outfit', sans-serif;
    color: #214B69;
    font-weight: 600;
    margin-left: 100px;
    margin-bottom: 24px;
    
}

.sottotitoli-curiosità{
    font-size: 18pt; 
    font-family: 'Outfit', sans-serif;
    color: #214B69;
    margin: 80px 20px 25px 20px;

}

.sottotitoli-curiosità a:hover{
    color: hsl(205, 56%, 38%);
    font-weight: 600;
}


.white{
    color: #ffffff;
}

.card-prodotti{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.card-prodotti p{
    font-weight: 600;
    color: #214B69;
}

.card-prodotti img{
    object-fit: cover;
}

.procedimento ol li {
    list-style-type: decimal;
}

.procedimento ol li::marker{
    font-weight: bold;
    color: var(--textcolor2);
}

.ingredienti {
    background-color: hsl(0, 1%, 84%);
    margin: 40px auto;
    padding: 40px;
}
.ingredienti ul li {
    list-style: disc;
}

.ingredienti ul li::marker {
    color: var(--textcolor2);
}

.estratto{
    margin-bottom: 30px;
}

.estratto h3{
    margin: 15px 0;
}

.ingredienti h3{
    margin: 15px 0;
}

.procedimento h3{
    margin: 15px 0;
}

div.pannello{
    background-color: #dfc342;
    color:var(--textcolor);
    width: 100%;
    min-height: 235px;
    width: 100%;
    position: relative;
    object-fit: cover;
    background-position: center;  
}

div.pannello h2{
    color: white;
    text-align: center;
    z-index: 100;
    font-size: 48px;
    font-family: 'Outfit', bold;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


.titolo{
    color:var(--textcolor2);
    font-size: 48px;
    margin-bottom: 15px;
}

section.eventi h2{
    color:var(--textcolor2);
    font-size: 24px;
    font-weight: bold;
    margin: 50px 0 20px 0;
}

.img-carosello img{
    object-fit: cover;
}

.kermesse img{
    width: 400px;
    height: auto;
    margin: 0 20px 60px;
}

.herobox-img img{
    width: 517px;
    height: 426px;
    margin-top: 120px;
    object-fit: cover;
}

.herobox-text-left{
    color: #ffffff;
    margin: auto 0 auto 40px;
}

.herobox-text-right{
    color: #ffffff;
    margin: auto 40px auto 0;
}

.herobox-text-left h1 {
    font-size: 32px;
    font-weight: bold;
}

.link{
    font-size: 16px;
    font-weight: lighter;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.herobox-text-left a:hover {
    font-weight: bold;
    color: #214B69;
    transition:.5s ease;
}
    

.herobox-text-right h1 {
    font-size: 32px;
    font-weight: bold;
}

.herobox-text-right a:hover {
    font-weight: bold;
    color: #214B69;
}


.herobox {
    display: flex;
    height: 475px;
    justify-content: center;
    
}


.orange{
    background-color: #F59032;
}


.light-green{
    background-color: #51A372;
}

.yellow{
    background-color: #F4BA24;
}

.green{
    background-color: #A1C15D;
}

.forno img{
    object-fit: cover;
}

.secondatecnica{
    margin-top: 30px;
}

.ingredienti li{
    line-height: 1,5;
}

.sapone{
    margin-top: 30px;
    margin-bottom: 10px;
}

.procedimento{
    line-height: 25px;
}


.flex div i {
    color: #B5B910;
    justify-content: center;
    
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
   
}

.gallery2{
    display: flex;
    grid-gap: 10px;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery2 img{
    object-fit: cover;
    
}

.flex{
    display: flex;
    gap: 120px;
    margin: 64px;
    justify-content: center;
    align-items: center;
}

.flex div h3{
    text-align: center;
    font-family: 'Outfit', semibold;
    font-size: 24px;
    color: var(--textcolor2);
    margin-bottom: 24px;
}

.flex div div {
    margin-bottom: 64px;
    max-width: 500px;
}

.trasporti h1 {
    color: white;
    text-align: center;
    font-size: 48px;
    font-family: 'Outfit', bold;
    margin: 0;
    padding: 48px;
    background-color: #B5B910;
    margin-top: 64px;
}

.flex i {
    margin-bottom: 24px;
    color: #B5B910;
}

.trasporti .flex i {
    transform: translate(220px);
}

.indicazioni {
    justify-content: center;
    text-align: center;
}

.indicazioni h2 {
    font-weight: bold;
    color: var(--textcolor2);
}

.flex-eventi {
    display: flex;
    gap: 64px;
    margin: 42px;
}

.img{
    margin-top: 30px;
}

.data {
    display: flex;
    gap: 16px;
}

.data p {
    font-family: 'Inter', bold;
}

.descrizione {
    max-width: 700px;
}

.descrizione p {
    margin-bottom: 24px;
}

.descrizione h3 {
    font-family: 'Outfit', semibold;
    font-size: 24px;
    color: var(--textcolor2);
    margin: 24px 0 16px;
}

.linea {
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.info-evento {
    background-color: rgb(230, 231, 171) ;
    padding: 32px;
    border-radius: 12px;
}

.data h2{
    font-weight: bold;
}

.container{
    max-width: 1300px;
    width: 100%;
    position: relative;
     
}
 
@media (max-width: 800px) {
    main {
        max-width: 500px;
        justify-content: center;
    }

    .nav-mobile{
        display: flex;
    }

    .nav-desktop{
        display: none;
    }

    
    .hamburger-lines {
        display: flex;
    }


    .checkbox:checked ~ line {
        display:block ;
    }

    .hamburger-lines .line1 {
        display: block;
        background-color: white;
        height: 3px;
        }

    .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
        }

    .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
        }
        
    .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
        }
        
            input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
            transform: rotate(45deg);
        }
        
        input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
            transform: scaleY(0);
        }
        
        input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
            transform: rotate(-45deg);
        }

}


@media (min-width:800px){
    .nav-mobile{
        display: none;
    }

    .nav-desktop{
        display: flex;
    }
}
